{% extends 'base.html.twig' %}
{% block header_img %}
{% endblock %}
{% block page_header %} {{ parent() }} <h2>Login</h2>

{% endblock %}


{% block body %}
    <section class="main-section login-content text-center text-light">
        <div class="bg-night p-5 rounded mt-5 ">
            {% if error %}
                <p class="alert alert-danger"
                   role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <form method="post">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-light">Connexion</h1>
                <label for="inputUsername">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </section>
{% endblock %}
