<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}To Do List app{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ absolute_url(asset('css/style.css')) }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc404f6fe0.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" sizes="32x32" href="{{ asset('img/favicon.png') }}">
</head>
<body>
{% include 'core/_header.html.twig' %}
<main>
    {% block header_box %}
        <div class="header-title">
            <div class="container">{% block page_header %}<h1><a href="{{ path('homepage') }}"> ToDo & Co</a></h1>{% endblock %}</div>
        </div>
    {% endblock %}

    {% block main %}
        <div class="container">
            {% include 'core/_flash_messages.html.twig' %}
            {% block body %}
            {% endblock %}
        </div>
    {% endblock %}
</main>
{% include 'core/_footer.html.twig' %}
<script src="{{ absolute_url(asset('js/jquery.js')) }}"></script>
<script src="{{ absolute_url(asset('js/popper.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/bootstrap.min.js') ) }}"></script>
</body>
</html>
