<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_row(form.firstname) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lastname) }}
        </div>
        <div class="form-group">
            {{ form_row(form.username) }}
        </div>
        <div class="form-group">
            {{ form_row(form.password) }}
        </div>
        <div class="form-group">
            {{ form_row(form.occupation) }}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
            {{ form_row(form.date_of_birth) }}
        </div>
        <div class="form-group">
            {{ form_row(form.mobile_number) }}
        </div>
        <div class="form-group">
            {{ form_row(form.roles) }}
        </div>
        <div class="form-group">
            {{ form_row(form.avatar) }}
        </div>
    </div>
</div>
