{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <section class="main-section">
        <div>
            <h1 class="text-info">{{ user.username }}</h1>
                <dt class="text-muted">Nom d'utilisateur</dt>
                <dd>{{ user.username }}</dd>
                <dt class="text-muted">Email</dt>
                <dd>{{ user.email }}</dd>
                <dt class="text-muted">Privilèges</dt>
                <dd>{{ user.roles[0] }}</dd>
        </div>
        <div class="bg-night p-5 rounded">
            {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
            <p class="mt-3">
                <a href="{{ path('user_list') }}" class="text-small"><i class="fa fa-chevron-left"></i> Retour à la
                    liste des utilisateurs</a>
            </p>
        </div>
    </section>
{% endblock %}
