{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_header %}{% set avatar = user.avatar? user.avatar: 'default_avatar.png' %}
    <img src="{{ absolute_url(asset(avatar_img_url~ avatar )) |imagine_filter('avatar_thumb') }}"
         class="img rounded-circle float-right"/>  {{ parent() }}  <h2><a href="{{ path('user_list') }}"> Liste des
        utilisateurs </a></h2> <h2>{{ user.firstname ~ ' ' ~ user.lastname }}</h2>
{% endblock %}

{% block body %}
    <section class="main-section">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        <div class="row mb-4">
            <div class="col-12">

            </div>
        </div>
        {% include 'user/_user_form.html.twig' %}
        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
